.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login {
    width: 35%;
    height: 350px;
    margin-top: 150px;
}

.inputEmailPassword {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputEmailPassword {
    margin-bottom: 25px;
}

.input {
    border-radius: 5px;
    border: #371a45 solid 0.5px;
    width: 35vh;
    height: 3.5vh;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 30px;
}

.btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDisabled {
    cursor: no-drop;
}

.image {
    padding-right: 15px;
}

.imageAstronauta {
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

button {
    background: #371a45;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;

}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            red, blue, deeppink, blue,
            red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 8px;
    filter: blur(1px);
    animation: x 20s linear infinite;
}

@keyframes x {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new a {
    padding-left: 7px;
}

@media screen and (max-width: 930px) {
    .imageAstronauta {
        display: none;
    }
   
}

.forgot{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}